tr.admin-entite-administrer:hover {
	cursor: pointer;
	background-color: lightyellow !important;
	font-weight: bold !important;
}

.cet-accordion-admin { 
	background-color: white; 
	border: 1px solid lightgrey; 
	border-radius: 4px; 
	margin-bottom: 20px; 
}

.cet-accordion-admin-critique { 
	background-color: lightyellow; 
	border-top: 1px solid lightgrey; 
}

table.cetcal-admin-table {
	table-layout: fixed;
}

td.cetcal-admin-table-td {
	white-space: normal !important; 
  	word-wrap: break-word;  
}