.produit--producteur,
.categorie--producteur {
    border: solid 1px;
    border-radius: 15px;
    margin-top: 35px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.fiche--producteur{
    border: solid 1px;
    border-radius: 15px;
    padding-top: 25px;
}

.presentation--producteur {
    border: solid 1px;
    border-radius: 15px;

}

.cst-catProduits{
    border: solid 2px;
    border-color: #804a3f;
    border-radius: 10px;
    background: #ffff;
    color: #804a3f;
    margin: 5px 10px 5px;
    width: 80px;
    text-align: center;
}